<div class="container-fluid mb-5">

    <div class="row my-5">
        <div class="col-12">
            <div class="card mb-5 shadow-lg">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4 col-sm-4">
                            <img class="img-fluid" src="{{s['image']}}" alt="">
                        </div>
                        <div class="col-md-8 col-sm-8">
                            <h2 class="display-2">{{s['name']}}</h2>
                            <h5 class="display-5">{{s['degree']}}</h5>
                            <h5 class="display-5">{{s['branch']}}</h5>
                            <h6 class="display-6">Passout - {{s['passout']}}</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>