<div class="row my-5">
    <div class="col-12">
        <div class="card mb-5 shadow-lg">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <img class="img-fluid" src="img1.svg" alt="">
                    </div>
                    <div class="col-md-8 col-sm-8">
                        <h2 class="display-2">IBRAHIM PEERZADE</h2>
                        <h5 class="display-5">Bachelors</h5>
                        <h5 class="display-5">IT</h5>
                        <h6 class="display-6">Passout - 2024</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>