<div class="container-fluid mb-5">
    <div class="row">
        <div *ngFor="let s of students" class="card-group col-md-3 col-sm-6">
            <!-- <div class="card-group"> -->
            <div class="card mb-3 shadow-lg">
                <img class="img-fluid card-img" src="{{s['image']}}" alt="">
                <div class="card-body">
                    <h5>{{s['name']}}</h5>
                    <div>{{s['degree']}}</div>
                    <div>{{s['branch']}}</div>
                    <small>Passout - {{s['passout']}}</small>
                </div>
                <a [routerLink]="['/student-details', s['id']]" class="btn btn-primary">View More</a>
            </div>
        </div>
        <!-- </div> -->
    </div>
</div>
